extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1 James Crosslin
        p Full Stack JavaScript Developer
        .about-bio
          p I have a certain intuition about interfacing with both people and technology, whether that's during my time as an intake intern in a mental health facility, a distribution manager for one of the largest newspapers in the midwest, or an enumerator for the United States Census Bureau. The problem? The technology failed to meet the needs the individuals it was meant to serve. Instead of making my job easier, my software always seemed to be working against me. Buried in submenus of submenus, there was a valuable tool, but the software itself was not user-friendly. This led to organizational confusion and unsatisfied customers every. single. time.

          p After catching Covid-19 and then facing trouble simply logging my work status into the Census' own software, I realized that I was worth more than fighting a poorly designed UI. That day, I decided my time and energy would be better spent creating accessible, intuitive, elegant applications to improve the lives of everyone in an organization's pipeline. In fact, I've taken this motto of individual connection with software for the improvement of all so seriously that I spend my free time doing live code reviews for web development learners on Twitch. I am a peer mentor and member of the 
            a(href="https://twitch.tv/learnwithleon", target="_blank", rel="noopener noreferrer") Learn with Leon 
            span Stream Team, and you can find my own stream at 
            a(href="https://twitch.tv/thedabolical", target="_blank", rel="noopener noreferrer") twitch.tv/theDabolical
            span . I have also built a grassroots, user-sponsored podcast from the ground up, available 
            a(href="http://tiny.cc/Highndrypod", target="_blank", rel="noopener noreferrer") on Spotify
            span and anywhere podcasts are found. 
            
          p Help me bring over 500 hours of peer review experience to your organization. Let's work together to build a better, more personal interface with our users. Give me a call or send me an email today, and let's talk about what I can do to improve your next project!


      .skills-contact-box.box
        h6 Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Node.js
          li Express
          li React          
          li jQuery
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch, Axios and Public APIs
          li Pug
          li MongoDB with Mongoose ODM
          li SQL with Sequelize ORM

        h6 Contact Info
        ul
          li 
            a(href="tel:+1-702-582-3222") +1-702-530-5577
          li 
            a(href="mailto:jamesmscrosslin@gmail.com") jamesmscrosslin@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/james-crosslin-30a5411bb/', target="_blank", rel="noopener noreferrer") LinkedIn
        a.btn-link(href='https://github.com/jamescrosslin', target="_blank", rel="noopener noreferrer") GitHub
        a.btn-link(href='https://twitter.com/thedabolical', target="_blank", rel="noopener noreferrer") Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back