extends layout.pug

block content

  article.portfolio-intro
    h1 Let's create amazing software together!
    p Hello recruiter, web developer, friend/family, or random person who stumbled upon my portfolio! This is a showcase for my Full Stack Javascript work! Each of these projects was created with love, care, and more than a little loss of hair. If you enjoy my work, head on over to my 
      a(href="/about") about me 
      span page to learn why knowing or hiring me would be a great idea!


  article.portfolio-project-thumbs
    .projects-box.box.grid
      //- loop through all served projects
      each project in projects
        .cell
          a(href=`/projects/${project.id}`)
            //- preview image for each project
            img.thumbnail(src=`/static/images/${project.image_urls[0]}`, alt=`Thumbnail-${project.project_name}`)
            //- project title
            h5 #{project.project_name}

